html,body{
	height: 100%;
}
ul{
	list-style: none;
}
section{
    position: relative;
  }
  body,html{
	height:100%

}
body,h1,h2,h3,h4,h5,h6,p,ul,li,ol,dl,dt,dd,img,a,input{
	padding:0; margin:0;}

ul,ol{
	list-style:none;}	
header,footer,section,figcaption,figure,main,nav,aside,summary,details{
	display:block;}
html{
	font-size: 14px;
	color: #333;
	}
img{
	display: block;
}
.w{
	width: 286px;
	margin: 0 auto;
}
.l{
	float: left;
}
.r{
	float: right;
}

a{
	text-decoration: none;
	color: #999;
}


